body {
    background: hsl(207, 19%, 9%);
}

.card {
    color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 5em;
    max-width: 40ch;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: hsla(0, 0%,100%, 0.5) 0px 8px 24px;
}

.card-content {
    padding: 1.5rem;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        hsla(255, 50%, 50%, 0.85) 25%,
        hsla(0, 0%, 0%, 1) 75%
    );
}

.card-title::after {
    left: calc(1.5rem * -1);
    background: hsl(142, 90%, 16%);
}

.card-body {
    color: rbga(255, 255, 255 0.85);
}

.button {
    color: hsl(207, 19%, 9%);
    background-color: hsl(142, 90%, 16%);
}
.button:hover,
.button:focus { 
    background-color: hsl(0, 0%, 100%);
}

/* animations */
.card {
    transition: transform 500ms ease;
}

.card-title::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-content {
    transform: translateY(70%);
    transition: transform 400ms ease;
}

.card:hover .card-content {
    transform: translationY(0);
    transition-delay: 250ms;
}
