:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url("../img/card-bg.jpg");
    background-size: cover;
    padding: 10rem, 0, 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card:hover,
.card:focus-within {
    transform: scale(1.05);
    box-shadow: hsl(0 0% 100% / 0.5) 0px 8px 24px;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(255 50% 50% / 0.85) 25%,
        hsl(0 0% 0% / 1) 75%
    );
}

.card-title {
    position: relative;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -3px;
    width: 100%;
    background: var(--clr-accent-400);
}

.card-body {
    color: rgb(255 255 255 / 0.85)
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    border-radius: 0.25em;
    padding: 0.5em 1.25em;
}
.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}